.colour-nav{
    background-color: #4C5454;
}

.colour-text{
    color: #4C5454;
}

.button-green{
    background-color: #1EA896 !important;
    border-color: #1EA896 !important;
}

.button-green:hover {
    background-color: #247369 !important;
    border-color: #247369 !important;
}

.button-orange{
    background-color: #FF715B !important;
    border-color: #FF715B !important;
}

.button-orange:hover {
    background-color: #c55948 !important;
    border-color: #c55948 !important;
}

.border-blue{
    border: none !important;
    border-radius: inherit !important;
    border-bottom: 1.5px solid #215075 !important;
}

.colour-divider {
    border-bottom: 1px solid #215075 !important;
}

.border {
    border: 1.5px solid #215075 !important;
}

.sombra{
    -webkit-box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
    -moz-box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
    box-shadow: 0 4px 8px 0 #777, 0 10px 6px -6px #777;
}

.home-banner {
    background-color: #316E9E !important;
    text-align: center;
    color: white;
    margin-top: 30px;
    padding: 1.5rem 2rem;
}

.home-container {
    min-height: 70vh;
    background: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url("../img/fondolanding.svg");
    background-size: cover;
    background-position: 0% 55%;
    background-repeat: no-repeat;
}

.home-title {
    padding-top: 30px;
    text-shadow: 1px 2px 2px rgba(150, 150, 150, 1);
}

.ratingsList {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ratingItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rating {
    display: inline-block;
    border: 0;
    padding: 0;
    font-size: 100%;
}

  
.rating li {
    display: inline-block;
    list-style: none;
    width: 20px;
    line-height: 0;
    box-sizing: border-box;
}

.rating .star {
    width: auto;
    height: 100%;
    fill: #3658a25f;
}
  
.rating .selected .star {
    fill: #2d4f9a;
}